USE [QLVEXE1]
GO
/****** Object:  Table [dbo].[CaLamViec]    Script Date: 28/04/2021 10:13:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CaLamViec](
	[MaCa] [nchar](10) NOT NULL,
	[MaChuyenXe] [nvarchar](50) NOT NULL,
	[MaNVLaiXe] [nvarchar](50) NOT NULL,
	[MaNVKiemVe] [nvarchar](50) NULL,
	[BienSoXe] [nvarchar](50) NOT NULL,
	[ThoiGianKhoiHanh] [nvarchar](50) NULL,
	[ThoiGianDen] [varchar](50) NULL,
 CONSTRAINT [PK_PhanCong] PRIMARY KEY CLUSTERED 
(
	[MaCa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChucVu]    Script Date: 28/04/2021 10:13:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChucVu](
	[ChucVu] [nvarchar](50) NOT NULL,
	[Luong] [float] NULL,
 CONSTRAINT [PK_ChucVu] PRIMARY KEY CLUSTERED 
(
	[ChucVu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChuyenXe]    Script Date: 28/04/2021 10:13:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChuyenXe](
	[MaChuyenXe] [nvarchar](50) NOT NULL,
	[MaTuyen] [nvarchar](50) NULL,
	[TongSoChoDat] [int] NULL,
	[Ngay] [nvarchar](50) NULL,
	[TrangThaiDi] [bit] NULL,
 CONSTRAINT [PK_ChuyenXe] PRIMARY KEY CLUSTERED 
(
	[MaChuyenXe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 28/04/2021 10:13:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[SDT] [nvarchar](50) NOT NULL,
	[TenKhachHang] [nvarchar](50) NULL,
	[ngaySinh] [date] NULL,
	[diaChi] [nvarchar](50) NULL,
	[TaiKhoan] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[SDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiTaiKhoan]    Script Date: 28/04/2021 10:13:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiTaiKhoan](
	[MaLoaiTaiKhoan] [nvarchar](50) NOT NULL,
	[TenLoaiTaiKhoan] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_LoaiTaiKhoan] PRIMARY KEY CLUSTERED 
(
	[MaLoaiTaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiVe]    Script Date: 28/04/2021 10:13:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiVe](
	[MaLoaiVe] [nvarchar](50) NOT NULL,
	[TenLoaiVe] [nvarchar](50) NULL,
	[Gia] [float] NULL,
 CONSTRAINT [PK_LoaiVe] PRIMARY KEY CLUSTERED 
(
	[MaLoaiVe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 28/04/2021 10:13:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [nvarchar](50) NOT NULL,
	[TenNV] [nvarchar](50) NULL,
	[NgaySinh] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](50) NULL,
	[ChucVu] [nvarchar](50) NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 28/04/2021 10:13:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[TaiKhoan] [nvarchar](50) NOT NULL,
	[MatKhau] [nvarchar](50) NULL,
	[MaLoaiTaiKhoan] [nvarchar](50) NULL,
	[SDT] [nvarchar](50) NULL,
 CONSTRAINT [PK_TaiKhoan] PRIMARY KEY CLUSTERED 
(
	[TaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tram]    Script Date: 28/04/2021 10:13:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tram](
	[MaTram] [nvarchar](50) NOT NULL,
	[TenTram] [nvarchar](50) NULL,
 CONSTRAINT [PK_Tram] PRIMARY KEY CLUSTERED 
(
	[MaTram] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tuyen]    Script Date: 28/04/2021 10:13:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tuyen](
	[MaTuyen] [nvarchar](50) NOT NULL,
	[TenTuyen] [nvarchar](50) NULL,
 CONSTRAINT [PK_Tuyen] PRIMARY KEY CLUSTERED 
(
	[MaTuyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TuyenTram]    Script Date: 28/04/2021 10:13:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TuyenTram](
	[Tuyen] [nvarchar](50) NOT NULL,
	[Tram] [nvarchar](50) NOT NULL,
	[ThoiGianTuyenDenTram] [int] NULL,
 CONSTRAINT [PK_TuyenTram] PRIMARY KEY CLUSTERED 
(
	[Tuyen] ASC,
	[Tram] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ve]    Script Date: 28/04/2021 10:13:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ve](
	[MaVe] [nvarchar](50) NOT NULL,
	[MaChuyenXe] [nvarchar](50) NULL,
	[SoChoDat] [int] NULL,
	[MaLoaiVe] [nvarchar](50) NULL,
	[NoiDi] [nvarchar](50) NULL,
	[NoiDen] [nvarchar](50) NULL,
	[TaiKhoan] [nvarchar](50) NULL,
 CONSTRAINT [PK_Ve] PRIMARY KEY CLUSTERED 
(
	[MaVe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Xe]    Script Date: 28/04/2021 10:13:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Xe](
	[BienSoXe] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Xe] PRIMARY KEY CLUSTERED 
(
	[BienSoXe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CaLamViec] ([MaCa], [MaChuyenXe], [MaNVLaiXe], [MaNVKiemVe], [BienSoXe], [ThoiGianKhoiHanh], [ThoiGianDen]) VALUES (N'1         ', N'060421-7h-55-1', N'41', N'44', N'66l19982', N'7h', N'9h')
INSERT [dbo].[CaLamViec] ([MaCa], [MaChuyenXe], [MaNVLaiXe], [MaNVKiemVe], [BienSoXe], [ThoiGianKhoiHanh], [ThoiGianDen]) VALUES (N'2         ', N'060421-7h-58-0', N'41', N'45', N'66l19980', N'7h', N'9h')
INSERT [dbo].[CaLamViec] ([MaCa], [MaChuyenXe], [MaNVLaiXe], [MaNVKiemVe], [BienSoXe], [ThoiGianKhoiHanh], [ThoiGianDen]) VALUES (N'3         ', N'060421-7h-59-0', N'41', N'46', N'66l19981', N'7h', N'9h')
GO
INSERT [dbo].[ChucVu] ([ChucVu], [Luong]) VALUES (N'Kiem ve', 5000000)
INSERT [dbo].[ChucVu] ([ChucVu], [Luong]) VALUES (N'Lai xe', 7000000)
GO
INSERT [dbo].[ChuyenXe] ([MaChuyenXe], [MaTuyen], [TongSoChoDat], [Ngay], [TrangThaiDi]) VALUES (N'060421-7h-55-0', N'55', 20, N'2021-04-06', 0)
INSERT [dbo].[ChuyenXe] ([MaChuyenXe], [MaTuyen], [TongSoChoDat], [Ngay], [TrangThaiDi]) VALUES (N'060421-7h-55-1', N'55', 2, N'2021-04-06', 1)
INSERT [dbo].[ChuyenXe] ([MaChuyenXe], [MaTuyen], [TongSoChoDat], [Ngay], [TrangThaiDi]) VALUES (N'060421-7h-58-0', N'58', 20, N'2021-04-06', 0)
GO
INSERT [dbo].[KhachHang] ([SDT], [TenKhachHang], [ngaySinh], [diaChi], [TaiKhoan]) VALUES (N'0465484852', N'Nguyen Van Thanh', CAST(N'2021-04-10' AS Date), N'hn', N'thanh')
INSERT [dbo].[KhachHang] ([SDT], [TenKhachHang], [ngaySinh], [diaChi], [TaiKhoan]) VALUES (N'0484684', N'Nguyen Minh Huan', CAST(N'2021-04-01' AS Date), N'dsfds', N'minhhuan')
INSERT [dbo].[KhachHang] ([SDT], [TenKhachHang], [ngaySinh], [diaChi], [TaiKhoan]) VALUES (N'09144141414', N'Trung Do Nguyen', CAST(N'1999-08-07' AS Date), N'hn', N'trungnguyen')
GO
INSERT [dbo].[LoaiTaiKhoan] ([MaLoaiTaiKhoan], [TenLoaiTaiKhoan]) VALUES (N'AD', N'Admin')
INSERT [dbo].[LoaiTaiKhoan] ([MaLoaiTaiKhoan], [TenLoaiTaiKhoan]) VALUES (N'KH', N'Khách Hàng')
GO
INSERT [dbo].[LoaiVe] ([MaLoaiVe], [TenLoaiVe], [Gia]) VALUES (N'VSV', N'Ve sinh vien', 3000)
INSERT [dbo].[LoaiVe] ([MaLoaiVe], [TenLoaiVe], [Gia]) VALUES (N'VT', N'Ve thuong', 7000)
GO
INSERT [dbo].[NhanVien] ([MaNV], [TenNV], [NgaySinh], [DiaChi], [ChucVu]) VALUES (N'41', N'41', N'1970-01-01', N'hcm', N'Lai xe')
INSERT [dbo].[NhanVien] ([MaNV], [TenNV], [NgaySinh], [DiaChi], [ChucVu]) VALUES (N'42', N'Nguyen Van Teo', N'2000-08-18', N'hn', N'Lai xe')
INSERT [dbo].[NhanVien] ([MaNV], [TenNV], [NgaySinh], [DiaChi], [ChucVu]) VALUES (N'43', N'Nguyen Huu Ti', N'1999-09-09', N'can tho', N'Lai xe')
GO
INSERT [dbo].[TaiKhoan] ([TaiKhoan], [MatKhau], [MaLoaiTaiKhoan], [SDT]) VALUES (N'admin', N'admin', N'AD', N'65468')
INSERT [dbo].[TaiKhoan] ([TaiKhoan], [MatKhau], [MaLoaiTaiKhoan], [SDT]) VALUES (N'ductu', N'1234', N'KH', N'56546')
INSERT [dbo].[TaiKhoan] ([TaiKhoan], [MatKhau], [MaLoaiTaiKhoan], [SDT]) VALUES (N'hien', N'1234', N'KH', N'5454')
GO
INSERT [dbo].[Tram] ([MaTram], [TenTram]) VALUES (N'tram1', N'tram1')
INSERT [dbo].[Tram] ([MaTram], [TenTram]) VALUES (N'tram10', N'tram10')
INSERT [dbo].[Tram] ([MaTram], [TenTram]) VALUES (N'tram11', N'tram11')
GO
INSERT [dbo].[Tuyen] ([MaTuyen], [TenTuyen]) VALUES (N'55', N'Tuyen 55')
INSERT [dbo].[Tuyen] ([MaTuyen], [TenTuyen]) VALUES (N'56', N'Tuyen 56')
INSERT [dbo].[Tuyen] ([MaTuyen], [TenTuyen]) VALUES (N'57', N'Tuyen 57')
GO
INSERT [dbo].[TuyenTram] ([Tuyen], [Tram], [ThoiGianTuyenDenTram]) VALUES (N'55', N'tram1', 0)
INSERT [dbo].[TuyenTram] ([Tuyen], [Tram], [ThoiGianTuyenDenTram]) VALUES (N'55', N'tram2', 30)
INSERT [dbo].[TuyenTram] ([Tuyen], [Tram], [ThoiGianTuyenDenTram]) VALUES (N'55', N'tram3', 60)
GO
INSERT [dbo].[Ve] ([MaVe], [MaChuyenXe], [SoChoDat], [MaLoaiVe], [NoiDi], [NoiDen], [TaiKhoan]) VALUES (N'4', N'170421-11h-56-0', 2, N'VT', N'tram4', N'tram2', N'huunhan')
INSERT [dbo].[Ve] ([MaVe], [MaChuyenXe], [SoChoDat], [MaLoaiVe], [NoiDi], [NoiDen], [TaiKhoan]) VALUES (N'5', N'180421-7h-56-0', 2, N'VT', N'tram4', N'tram2', N'huunhan')
INSERT [dbo].[Ve] ([MaVe], [MaChuyenXe], [SoChoDat], [MaLoaiVe], [NoiDi], [NoiDen], [TaiKhoan]) VALUES (N'6', N'220421-5h-55-1', 3, N'VT', N'tram1', N'tram2', N'huunhan')
GO
INSERT [dbo].[Xe] ([BienSoXe]) VALUES (N'66l19980')
INSERT [dbo].[Xe] ([BienSoXe]) VALUES (N'66l19981')
INSERT [dbo].[Xe] ([BienSoXe]) VALUES (N'66l19982')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [Unique_TaiKhoan]    Script Date: 28/04/2021 10:13:24 AM ******/
ALTER TABLE [dbo].[TaiKhoan] ADD  CONSTRAINT [Unique_TaiKhoan] UNIQUE NONCLUSTERED 
(
	[SDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CaLamViec]  WITH CHECK ADD  CONSTRAINT [FK_CaLamViec_NhanVien] FOREIGN KEY([MaNVKiemVe])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[CaLamViec] CHECK CONSTRAINT [FK_CaLamViec_NhanVien]
GO
ALTER TABLE [dbo].[CaLamViec]  WITH CHECK ADD  CONSTRAINT [FK_CaLamViec_NhanVien1] FOREIGN KEY([MaNVLaiXe])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[CaLamViec] CHECK CONSTRAINT [FK_CaLamViec_NhanVien1]
GO
ALTER TABLE [dbo].[CaLamViec]  WITH CHECK ADD  CONSTRAINT [FK_PhanCong_ChuyenXe] FOREIGN KEY([MaChuyenXe])
REFERENCES [dbo].[ChuyenXe] ([MaChuyenXe])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CaLamViec] CHECK CONSTRAINT [FK_PhanCong_ChuyenXe]
GO
ALTER TABLE [dbo].[CaLamViec]  WITH CHECK ADD  CONSTRAINT [FK_PhanCong_Xe] FOREIGN KEY([BienSoXe])
REFERENCES [dbo].[Xe] ([BienSoXe])
GO
ALTER TABLE [dbo].[CaLamViec] CHECK CONSTRAINT [FK_PhanCong_Xe]
GO
ALTER TABLE [dbo].[ChuyenXe]  WITH CHECK ADD  CONSTRAINT [FK_ChuyenXe_Tuyen] FOREIGN KEY([MaTuyen])
REFERENCES [dbo].[Tuyen] ([MaTuyen])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChuyenXe] CHECK CONSTRAINT [FK_ChuyenXe_Tuyen]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK_NhanVien_ChucVu] FOREIGN KEY([ChucVu])
REFERENCES [dbo].[ChucVu] ([ChucVu])
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK_NhanVien_ChucVu]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [FK_TaiKhoan_KhachHang] FOREIGN KEY([SDT])
REFERENCES [dbo].[KhachHang] ([SDT])
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [FK_TaiKhoan_KhachHang]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [FK_TaiKhoan_LoaiTaiKhoan] FOREIGN KEY([MaLoaiTaiKhoan])
REFERENCES [dbo].[LoaiTaiKhoan] ([MaLoaiTaiKhoan])
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [FK_TaiKhoan_LoaiTaiKhoan]
GO
ALTER TABLE [dbo].[TuyenTram]  WITH CHECK ADD  CONSTRAINT [FK_TuyenTram_Tram] FOREIGN KEY([Tram])
REFERENCES [dbo].[Tram] ([MaTram])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TuyenTram] CHECK CONSTRAINT [FK_TuyenTram_Tram]
GO
ALTER TABLE [dbo].[TuyenTram]  WITH CHECK ADD  CONSTRAINT [FK_TuyenTram_Tuyen] FOREIGN KEY([Tuyen])
REFERENCES [dbo].[Tuyen] ([MaTuyen])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TuyenTram] CHECK CONSTRAINT [FK_TuyenTram_Tuyen]
GO
ALTER TABLE [dbo].[Ve]  WITH CHECK ADD  CONSTRAINT [FK_Ve_ChuyenXe] FOREIGN KEY([MaChuyenXe])
REFERENCES [dbo].[ChuyenXe] ([MaChuyenXe])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Ve] CHECK CONSTRAINT [FK_Ve_ChuyenXe]
GO
ALTER TABLE [dbo].[Ve]  WITH CHECK ADD  CONSTRAINT [FK_Ve_LoaiVe] FOREIGN KEY([MaLoaiVe])
REFERENCES [dbo].[LoaiVe] ([MaLoaiVe])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Ve] CHECK CONSTRAINT [FK_Ve_LoaiVe]
GO
ALTER TABLE [dbo].[Ve]  WITH CHECK ADD  CONSTRAINT [FK_Ve_TaiKhoan] FOREIGN KEY([TaiKhoan])
REFERENCES [dbo].[TaiKhoan] ([TaiKhoan])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Ve] CHECK CONSTRAINT [FK_Ve_TaiKhoan]
GO
ALTER TABLE [dbo].[Ve]  WITH CHECK ADD  CONSTRAINT [FK_Ve_TramNoiDen] FOREIGN KEY([NoiDen])
REFERENCES [dbo].[Tram] ([MaTram])
GO
ALTER TABLE [dbo].[Ve] CHECK CONSTRAINT [FK_Ve_TramNoiDen]
GO
ALTER TABLE [dbo].[Ve]  WITH CHECK ADD  CONSTRAINT [FK_Ve_TramNoiDi] FOREIGN KEY([NoiDi])
REFERENCES [dbo].[Tram] ([MaTram])
GO
ALTER TABLE [dbo].[Ve] CHECK CONSTRAINT [FK_Ve_TramNoiDi]
GO
